<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>残高照会</title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<!-- 通知メッセージ（例：入出金完了） -->
	<p th:if="${message}" class="global-message" th:text="${message}"></p>
    <div class="container">
		
		<!-- ユーザー名付きタイトル -->
	  <h1 th:text="${username + 'さんの口座残高照会'}">〇〇 さんの口座残高照会</h1>
	  
	  <!-- 残高表示(カンマ付き)-->
	  <p class="balance-display">
		  現在の残高：<strong th:text="${#numbers.formatInteger(balance, 3, 'COMMA')}">0</strong> 円
	  </p>
	  
	   <!-- 最終更新日時 -->
	   <p class="update-time" th:text="'更新日時：' + ${lastUpdated}">更新日時：2025/07/13 22:45</p>
	  
	  <!-- 戻る&ログアウト-->
	  <div class="button-group">
		  <a th:href="@{/atm/}"><button type="button">戻る</button></a>
		  <form th:action="@{/logout}" method="post">
			  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			  <button type="submit">ログアウト</button>
		  </form>
	  </div>
    </div>
</body>
</html>